*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #FFFFFF;
}

#icon{
    margin-top: 20px;
    margin-left: 20px;
}

ul{
    margin-left: 100px;
    margin-right: 50px;
    list-style-type: none;
    background-color: cadetblue;
    overflow: hidden;
}

li{ float: left;}

li a{
    display: block;
    padding: 8px;
    background-color: cadetblue;
    text-align: center; 
    text-decoration: none; /*밑줄, 윗줄, 중간줄*/
    color: #000000;
    font-weight: bold;
}